{% extends 'base.html' %} {% block content %}
<h3>
    {{ employee.name }}
    <br>
    {{ employee.description }}
    <br>
    {{ employee.years }}
</h3>
<a href="{% url 'employees_update' employee.id %}">Edit</a>
<a href="{% url 'employees_delete' employee.id %}">Delete</a>
<div>
    <h3>{{ employee.name }}'s Code Known Languages</h3>
    <br>
    {% if employee.languages.count %} {% for language in employee.languages.all %}

    {{language.name}}

    {% endfor %} {% else %}

    <h5>No Languages</h5>
    {% endif %}
</div>

<div>
    <h3>Available Languages</h3>
    {% if languages.count %}
    {% for language in languages.all %}

    {{language.name}}
    <br>

    <form action="{% url 'assoc_language' employee.id language.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Add</button>
    </form>
    {% endfor %}
    {% else %}
    <h5>{{ employee.name }} Already Knows All Languages Available</h5>
    {% endif %}
</div>


{% endblock %}