{% extends 'base.html' %} {% block content %}
<h1>Employee Display</h1>

<div class="body">
    <div class="container">
        {% for employee in employees %}
        <div class="card">
            <div class="box">
                <div class="content">
                    <a href="{% url 'detail' employee.id %}">
                        <h2>{{ employee.name}}</h2>
                        <hr>
                        <h3>{% if employee.years > 0 %}
                            Years At Company: {{ employee.years }}
                            {% else %}
                            Years At Company: New Employee
                            {% endif %}</h3>
                        <br>
                        <p>Description: {{ employee.description }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}