{% extends 'base.html' %} {% block content %}

<h1>Employee Display</h1>

<div class="body">
    <div class="holder">
        {% for employee in employees %}


        <div class="card">
            <div>
                {{ employee.name}}
            </div>
            <div>
                Description: {{ employee.description}}
            </div>
            <div>
                {% if employee.years > 0 %}
                Years At Company: {{ employee.years }}
                {% else %}
                Years At Company: New Employee
                {% endif %}
            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}