{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Display</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/">&nbsp;&nbsp;EmployeeDisplay</a>
        </div>
        <div class="header-right">
            <a href="/about">About</a>
            <a href="{% url 'languages_index' %}">View All Coding Languages</a>
            <a href="/employees">View Employees</a>
            <a href="{% url 'employees_create' %}">Add a Employee</a>
        </div>
    </div>
    <main>{% block content %} {% endblock %}</main>
    <div class="footer">
        <p>        All Rights Reserved, &copy; 2022 Employee Display &nbsp;</p>
    </div>
</body>
</html>