*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(17, 16, 22);
  color: white;
  position: relative;
  min-height: 100vh;
}

li{
  list-style: none;
}

.header{
  overflow: hidden;
  width: 100%;
  height: 80px;
  display: block;
  background-color: rgba(38, 38, 50);
}

.inner_header{
  width: 1000px;
  height: 100%;
  
  display: block;
  margin: 0 auto;
}


.logo_container{
  height: 100%;
  display: table;
  float: left;
}

.logo_container a img{
  vertical-align: middle;
  height: 80px;
  width: 80px;
  padding: 10px;
  border-radius: 10px;
}

.logo_container a img:hover{
    background-color: white;
    color: rgba(38, 38, 50);
}

.nav{
  float: right;
  height: 100%;
}

.nav a:hover{
    background-color: white;
    color: rgba(38, 38, 50);
}

.nav a{
  height: 100%;
  display: table;
  float: left;
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.nav a li{
  display: table-cell;
  vertical-align: middle;
}

.App {
  text-align: center;
}


.body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.5rem;
}

.container{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 40px;
}

.card
{
  position: relative;
  min-width: 320px;
  height: 300px;
  margin: 30px;
}

.box {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  box-shadow: 2px 2px 8px 8px rgb(53, 9, 53);
  border-radius: 10px;
}

.content{
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.content a {
  text-decoration: none;
  color: white;
}

#main{
  padding-bottom: 2.5rem;
}

.centerform{
  text-align: center;
}



input[type=text], select{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit],select{
  padding: 15px;
  background-color: rgb(17, 16, 22);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: white;
  color: rgba(38, 38, 50);
}
input[type=number],select{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btnhold{
  text-align: center;
}

.btnhold a{
  border-radius: 4px;
  text-decoration: none;
  color: white;
}

.btnhold a:hover{
  background-color: white;
  color: rgba(38, 38, 50);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  
  background-color: rgba(38, 38, 50);
  color: white;
}